# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

/node_modules
npm-debug.log
.DS_Store
*.env



dist/
$RECYCLE.BIN/
package-lock.json

Thumbs.db
UserInterfaceState.xcuserstate
